In [109]:
import pandas as pd
import numpy as np
path= "C:\\Users\\bhuva\\Downloads\\dataframe_.csv"
df = pd.read_csv(path)
df.head()

        input      output
0 -122.740667 -130.572085
1 -121.531419 -129.938929
2 -134.917019 -130.141832
3 -120.605951 -125.760932
4 -129.894781 -112.785214

In [110]:
df.isnull()

      input  output
0     False   False
1     False   False
2     False   False
3     False   False
4     False   False
...     ...     ...
1692  False   False
1693  False   False
1694  False   False
1695  False   False
1696  False   False

[1697 rows x 2 columns]

In [111]:
df=df.dropna()
df.head()
df.shape

(1696, 2)

In [112]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [113]:
print(x.head())

        input
0 -122.740667
1 -121.531419
2 -134.917019
3 -120.605951
4 -129.894781

In [114]:
print(y.head())

0   -130.572085
1   -129.938929
2   -130.141832
3   -125.760932
4   -112.785214
Name: output, dtype: float64

In [115]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

In [116]:
z = np.abs(df.apply(lambda x: (x - x.mean()) / x.std(), axis=0))
z.head()

      input    output
0  1.568244  1.466967
1  1.552938  1.457341
2  1.722363  1.460426
3  1.541224  1.393817
4  1.658795  1.196531

In [118]:
threshold = 1
df = df[(z < threshold).all(axis=1)]
print(df.shape)
print(df.head())

(873, 2)
        input     output
87 -77.170780 -54.997949
91 -58.376065 -44.898759
92 -68.878439 -42.548128
93 -76.988917 -44.781912
94 -74.366669 -34.000000

C:\Users\bhuva\AppData\Local\Temp/ipykernel_19516/2959489737.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(z < threshold).all(axis=1)]

In [119]:
df = pd.get_dummies(df, columns=["output"], drop_first=True)
df.shape

(873, 483)

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [120]:
from sklearn.linear_model import LinearRegression
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('regressor', LinearRegression())
])

In [137]:
model = LinearRegression()
model.fit(X_train, y_train)
test_predictions = model.predict(X_test)
print("Score R^2:", model.score(X_test, y_test))

Score R^2: 0.21909132828852507

In [138]:
test=[[120]]
pred=model.predict(test)
print("Prediction for ",test,":",pred)

Prediction for  [[120]] : [17.2272085]

c:\Users\bhuva\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(